body {
    font-family: 'Arial', sans-serif;
    background-color: #F9F5F6;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #F8E8EE;
    padding: 50px;
    box-shadow: 0 0 15px rgba(242, 190, 209, 0.5);
    border-radius: 8px;
    font-size: 2em ;
}

h1 {
    color: #F2BED1;
    font-size: 3em;
}

#value {
    font-size: 80px;
    margin: 10px;
    display: block;
    padding: 5px;
    color: #555843;
}

.btn {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: 0.5px solid;
    border-radius: 8px;
    border-color:#F9F5F6 ;
}

.decrease {
    background-color: #FDCEDF;
    color: #F9F5F6;
}

.reset {
    background-color: #FDCEDF;
    color: #F9F5F6;
}

.increase {
    background-color: #FDCEDF;
    color: #F9F5F6;
}

.btn:hover {
    
    background-color: #F2BED1;
}
